:root{
    --primary-color: #F8F7FF;
    --secondary-color: #131112;
    --accend-color: #3777FF;
    --text-light: #f1f1f1;
    --text-dark: #1E1E1E;
    --text-hover: #1E1E1E;
    --label-info-alert:lightgreen;
  }
  body {
        background-color: var(--primary-color);
  }
  .completed {
      background-color: var(--label-info-alert) !important;
      color: var(--text-light) !important;
  }
  .failled{
    background-color: red;
    color: var(--text-light) !important;
  }
  .info-label-icon{
    margin: 5px;
    padding: 13px 16px;
    background-color: var(--primary-color);
    color: var(--text-dark);
    border-radius: 5px;
  }
  #personal-info-label,
  #academic-info-label,
  #extra-info-label{
    border-top-right-radius: 80px;
  }
  
  .form-section {
        background: #ffffff;
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  .form-title {
        font-size: 1.8rem;
        color: #333;
        margin-bottom: 1.5rem;
        font-weight: bold;
        text-align: center;
  }
  .form-label {
        font-weight: 600;
        color: #555;
  }
  
  .form-control:focus {
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  .table input {
        width: 100%;
        border: none;
        background: #f9f9f9;
        text-align: center;
        font-size: 1rem;
        padding: 0.5rem;
        border-radius: 5px;
  }
    .table input:focus {
        border: 1px solid #007bff;
        box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
        background: #ffffff;
  }
  .result-box {
        font-size: 1.2rem;
        font-weight: bold;
        color: #333;
        text-align: center;
        background: #f9f9f9;
        border-radius: 5px;
        padding: 10px;
  }
  .file-input {
        position: relative;
        overflow: hidden;
    }
    .file-input input[type="file"] {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
    }

    .modal-body {
        text-align: center;
    }

    .modal-body .icon {
        font-size: 3rem;
        color: lightgreen;
        margin-bottom: 1rem;
    }

    .modal-body h5 {
        margin-bottom: 1rem;
        font-weight: bold;
    }

    .modal-body p {
        color: var(--text-dark);
    }

  @media(max-width:767px){
    .info-label-icon{
      margin: 0px;
      
    }
    .info-label-name{
      display: none;
    }
    #personal-info-label,
    #academic-info-label,
    #extra-info-label{
      border-radius: 4px;
    }
  }