@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  /* Custom Colors */
  :root{
--primary-color: #F8F7FF;
--secondary-color:  #d6e7ec;
--accend-color: #78B3CE ;
--pink-color:#f82961;
--text-light: #f1f1f1;
--text-dark: #1E1E1E;
--text-hover: #1E1E1E;
--announce-color:#ff4444;
}


body {

color: #1E1E1E;
font-size: 1rem;
font-family: "Poppins", serif;
}



.bg-primary {
background-color: #F8F7FF !important;
}

.bg-secondary {
background-color: #131112 !important;
}

.btn-accend {
background-color:  var(--accend-color);
border: none;
}

.btn-accend:hover {
background-color: #1E1E1E;
}

.text-dark {
color: #1E1E1E !important;
}

.text-light {
color: #f1f1f1 !important;
}
#h-1{
padding: 0.6rem ;
height: 58px;
width: 100%;
background-color: var( --accend-color);
overflow: hidden;
display: none;
color: #fff;
}
.nav-wrapper{
display: grid;
grid-template-columns: 2fr 1fr;
gap: 10px;
}

.nav-link-hover:hover{
padding-left: 5px;
border-left: 2px solid  var(--pink-color);
background-color: whitesmoke;
}

.college-contact{
padding: 0.8rem 0.6rem;

}
.college-contact > a{
margin: 0 1rem ;
color: var(--text-light);
font-size: 1rem;
font-weight: 800;
text-decoration: none;
}
.img-fluid{
width: 100% !important;
height: 35rem !important;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}

.card-body{
padding: 0.5rem 1rem !important;
}
.list-group{
  text-align: center !important;
}
.border-2{
border: 1px solid var(--accend-color) !important;
}


@media (min-width:767px){
#h-1{
  display: block;
}
.navbar-nav > .nav-item:last-child{
  display: none;
}
.list-group{
  text-align: center !important;
}
}

@media (min-width:992px){
.nav-link-hover:hover{
background-color: none;
border: none;
}
.nav-link-hover::after{
content: '';
display: block;
width: 0;
height: 2px;
background:  var(--pink-color);
transition: width .3s;

}
.nav-link-hover:hover::after{
width: 100%;
}  

}

.footer-list{
color:  #537a8b;
}


*{
margin:0%;
padding: 0%;
text-decoration: none;
list-style-type: none;
}


body{
height: 100vh;
width: 100%;
background-color: var(--text-light);
}




     /* COURSE AND ANNOUNCEMENT SECTION*/

    /* Custom Styles for specific components */
    .table-container {
      height: 250px;
      overflow-y: auto;
  }
  
  .table th, .table td {
      text-align: center;
      vertical-align: middle;
  }

  .announcement-list {
      display: grid;
      grid-template-columns: 1fr 5fr;
      justify-items: center;
      align-items: center;
      text-align: center;
  }

  .announcement-list label {
      background-color: whitesmoke;
      border: 1px solid var(--bs-secondary);
      height: 60px;
      width: 50px;
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 0.8rem;
      font-weight: bold;
  }

  .marquee {
      animation: marquee 10s linear infinite;
  }

  @keyframes marquee {
      0% {
          transform: translateY(100%);
      }
      100% {
          transform: translateY(-100%);
      }
  }

  .marquee:hover {
      animation-play-state: paused;
  }

/* SECTION TWO COLLEGE FACILITIES */

.college-facilities{
padding: 1rem;
height: auto;
width: 100%;
align-content: center;
/* margin: 30px 0px; */
background-color: var;
}



.icons {
margin: 0% 5%;
/* display: grid;
grid-template-columns: repeat(6, 1fr);   */
display: flex;
flex-wrap: wrap;
gap: 10px;  
}

.icons > div{
flex-grow: 1;
flex-basis: 200px;
background-color:  var(--secondary-color);
padding: 30px;
text-align: center;
border-radius: 5px;
}


.icons>div>p{
color: var(--primary-color);
}



  
@media (max-width: 768px) {  
.course-announcement>.container {
  grid-template-columns: 1fr; 
} 

.section-one>.container>.box-two{
    margin-top: -30px;
  }

.icons {
  grid-template-columns: 1fr; 
   
}  

.icons>div{
  height: 220px;
  align-content: center;
}
}

p{
text-align: justify;
}
